@import "tailwindcss";

:root {
	--background: #bbb3a7;
	--foreground: #ff2424;
	--primaryOrange: #ff8800;
	--primaryBlue: #0000ff;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}
html.dark {
	--background: #664a4a;
	--foreground: #ff2424;
}
/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #d77a1d;
		--foreground: #ededed;
	}
} */

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
